<h1 class="text-center , fs-1">Listing Registrodetrabajadores</h1>

<div>
<%= link_to 'Crear trabajador', new_registrodetrabajadore_path, class: 'btn btn-primary' %>
</div><br>

<table class = "table table-bordered table-hover">
  <tr>
    <th>nombre</th>
    <th>edad</th>
    <th>cargo</th>
    <th>telefono</th>
    <th colspan="4">accion</th>
  </tr>

  <% @registrodetrabajadores.each do |registrodetrabajadore| %>
    <tr>
      <td><%= registrodetrabajadore.nombre %></td>
      <td><%= registrodetrabajadore.edad %></td>
      <td><%= registrodetrabajadore.cargo %></td>
      <td><%= registrodetrabajadore.telefono %></td>
      <td><%= link_to 'Ver', registrodetrabajadore, class: 'btn btn-success' %></td>
      <td><%= link_to 'Editar', edit_registrodetrabajadore_path(registrodetrabajadore), class: 'btn btn-primary' %></td>
      <td><%= link_to 'Eliminar', registrodetrabajadore,
      method: :delete, data: { confirm: 'Estas seguro?' }, :class => 'btn btn-danger' %></td>
    </tr>
  <% end %>
</table>
