<h1 class="titulo">Registro de trabajadores</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= simple_form_for @registrodetrabajadore do |f| %>
            <%= f.input :nombre %>
            <%= f.input :edad%>
            <%= f.input :cargo %>
            <%= f.input :telefono %>
            <%= f.button :submit %>
        <% end %>
    </div>
</div>
