<h1>1452</h1>
<%= link_to 'Back', registrodetrabajadores_path %>
<table>
    <tr>
        <td><%= @registrodetrabajadore.nombre %></td>
        <td><%= @registrodetrabajadore.edad %></td>
        <td><%= @registrodetrabajadore.cargo %></td>
        <td><%= @registrodetrabajadore.telefono %></td>
    </tr>
</table>   