<h1 class="text-center , fs-1">trabajadores</h1>

<div>
<%= link_to 'Atras', registrodetrabajadores_path, class: 'btn btn-primary' %>
<%= link_to 'Editar', edit_registrodetrabajadore_path(@registrodetrabajadore), class: 'btn btn-primary' %>
</div>

<section class="row">
  <aside class="col-xs-6">
    <dl class="well well-sm , tab-content">
      <dt>nombre:</dt>
      <dd><%= @registrodetrabajadore.nombre %></dd>
      <dt>edad:</dt>
      <dd><%= @registrodetrabajadore.edad %></dd>
      <dt>cargo:</dt>
      <dd><%= @registrodetrabajadore.cargo %></dd>
      <dt>telefono:</dt>
      <dd><%= @registrodetrabajadore.telefono %></dd>
    </dl>
  </aside>
</section>            