<p class="text-center , fs-1">Listing reclamos</p>

<div class="container">
<%= link_to 'crear organizacione', new_organizacione_path, class: 'btn btn-primary'  %>
</div>

<div class="container">
  <table class = "table table-bordered table-striped">
    <tr>
      <th>tipo_de_organizacion</th>
      <th>numero_de_empleado</th>
      <th>representantes</th>
      <th colspan="3">Accion</th>
    </tr>
  
    <% @organizacione.each do |organizacione| %>
      <tr>
        <td><%= organizacione.tipo_de_organizacion %></td>
        <td><%= organizacione.numero_de_empleado %></td>
        <td><%= organizacione.representantes %></td>
        <td><%= link_to 'Show', organizacione_path(organizacione) %></td>
        <td><%= link_to 'Editar', edit_organizacione_path(organizacione) %></td>
        <td><%= link_to 'Destroy', organizacione_path(organizacione),
        method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </table>
</div>
