<h1 class="page-header">Registro de organizaciones</h1>
<div class="container">
    <div class="navbar-toggler">
        <%= simple_form_for @organizacione do |f| %>
            <%= f.input :tipo_de_organizacion %>
            <%= f.input :numero_de_empleado %>
            <%= f.input :representantes %>
            <%= f.button :submit %>
        <% end %>
    </div>
</div>