<h1 class="text-center , fs-1">Registro de organizaciones</h1>

<div class="row">
    <div class="col-md-6">
        <%= simple_form_for @organizacione do |f| %>
            <%= f.input :tipo_de_organizacion %>
            <%= f.input :numero_de_empleado %>
            <%= f.input :representantes %>
            <%= f.button :submit %>
        <% end %>
    </div>
</div>
