<p class="text-center , fs-1">organizaciones</p>
<div class="container">
    <%= link_to 'Editar', edit_organizacione_path(@organizacione), class: 'btn btn-primary' %>    
    <%= link_to 'Atras', organizaciones_path, class: 'btn btn-primary' %>
</div>
<div class="container">
    <table class = "table table-bordered table-striped">
        <tr>
            <th>tipo_de_organizacion</th>
            <th>numero_de_empleado</th>
            <th>representantes</th>
        </tr>
        <tr>
            <td><%= @organizacione.tipo_de_organizacion%></td>
            <td><%= @organizacione.numero_de_empleado%></td>
            <td><%= @organizacione.representantes%></td>
        </tr> 
    </table>
</div>

