
<%= link_to 'stoockdeproducto', stoockdeproducto_path %>
<%= link_to 'Back', stoockdeproductos_path %>
<table> 
    <tr>
        <td><%= @stoockdeproducto.codigo%></td>
        <td><%= @stoockdeproducto.nombre%></td>
        <td><%= @stoockdeproducto.cantidad_existente%></td>
        <td><%= @stoockdeproducto.referencia%></td>
        <td><%= @stoockdeproducto.tipo %></td>
        <td><%= @stoockdeproducto.proveedor%></td>
    </tr>
</table> 