
<p class="text-center , fs-1">editar stoockdeproducto</p>

<%= link_to 'stoockdeproducto', stoockdeproducto_path, class: 'btn btn-primary' %>
<%= link_to 'Atras', stoockdeproductos_path, class: 'btn btn-primary' %>


<%= form_for :post do |f| %>
    <p>
      <%= f.label :codigo %><br>
      <%= f.text_field :codigo %>
    </p>

    <p>
      <%= f.label :nombre %><br>
      <%= f.text_area :nombre %>
    </p>

    <p>
      <%= f.label :cantidad_existente %><br>
      <%= f.text_area :cantidad_existente%>
    </p>

    <p>
      <%= f.label :referencia %><br>
      <%= f.text_area :referencia %>
    </p>

    <p>
      <%= f.label :tipo%><br>
      <%= f.text_area :tipo%>
    </p>

    <p>
      <%= f.label :proveedor %><br>
      <%= f.text_area :proveedor %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>