<h1 class="text-center , fs-1">Listing stoockdeproducto</h1>

<div>
<%= link_to 'New stoockdeproducto', new_stoockdeproducto_path, class: 'btn btn-primary' %>
</div>

<div>
  <table class = "table table-bordered table-striped">
    <tr>
      <th>codigo</th>
      <th>nombre</th>
      <th>cantidad_existente</th>
      <th>referencia</th>
      <th>tipo</th>
      <th>proveedor</th>
      <th colspan="6">Accion</th>
    </tr>
  
    <% @stoockdeproducto.each do |stoockdeproducto| %>
      <tr>
        <td><%= stoockdeproducto.codigo %></td>
        <td><%= stoockdeproducto.nombre %></td>
        <td><%= stoockdeproducto.cantidad_existente %></td>
        <td><%= stoockdeproducto.referencia%></td>
        <td><%= stoockdeproducto.tipo %></td>
        <td><%= stoockdeproducto.proveedor %></td>
        <td><%= link_to 'Ver', stoockdeproducto_path(stoockdeproducto), class: 'btn btn-success' %></td>
        <td><%= link_to 'Editar', edit_stoockdeproducto_path(@stoockdeproducto), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Eliminar', stoockdeproducto_path(stoockdeproducto),
        method: :delete, data: { confirm: 'Estas seguro?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </table>
</div>
