<p class="text-center , fs-1">Registro de stoockdeproductos</p>

<div class="container">
    <div class="navbar-toggler">
        <%= simple_form_for @stoockdeproducto do |f| %>
            <%= f.input :codigo %>
            <%= f.input :nombre %>
            <%= f.input :cantidad_existente %>
            <%= f.input :referencia %>
            <%= f.input :tipo %>
            <%= f.input :proveedor %>
            <%= f.button :submit %>
        <% end %>
    </div>
</div>
