<p id="notice"> <%= notice%></p>

<h1 class="text-center , fs-1">listado de stoockdeproducto</h1>


<section class="row">
  <div class="container">
    <%= link_to 'Editar', edit_stoockdeproducto_path(@stoockdeproducto), class: 'btn btn-primary' %>
    <%= link_to 'Atras', stoockdeproductos_path, class: 'btn btn-primary' %>
  </div>
  <aside class="col-xs-6">
    <dl class="well well-sm , tab-content">
        <dt>codigo:</dt>
        <dd><%= @stoockdeproducto.codigo%></dd>
        <dt>nombre:</dt>
        <dd><%= @stoockdeproducto.nombre%></dd>
        <dt>cantidad_existente:</dt>
        <dd><%= @stoockdeproducto.cantidad_existente%></dd>
        <dt>referencia:</dt>
        <dd><%= @stoockdeproducto.referencia%></dd>
        <dt>tipo:</dt>
        <dd><%= @stoockdeproducto.tipo %></dd>
        <dt>proveedor:</dt>
        <dd><%= @stoockdeproducto.proveedor%></dd>
    </dl>
  </aside>
</section>