<h3>show</h3>

<h1>listado de stoockdeproducto</h1>
<table> 
    <tr>
        <td><%= @stoockdeproducto.codigo%></td>
        <td><%= @stoockdeproducto.nombre%></td>
        <td><%= @stoockdeproducto.cantidad_existente%></td>
        <td><%= @stoockdeproducto.referencia%></td>
        <td><%= @stoockdeproducto.tipo %></td>
        <td><%= @stoockdeproducto.proveedor%></td>
    </tr>
</table> 