<h1>borrar</h1>
<%= form_with model: @proveedor do |form| %>
  <%= form.text_field :codigo, placeholder: "codigo" %>
  <%= form.text_field :nombre, placeholder: "nombre" %>
  <%= form.text_field :correoelectronico, placeholder: "correoelectronico" %>
  <%= form.text_field :telefono, placeholder: "telefono" %>
  <%= form.text_field :direccion, placeholder: "direccion" %>
  <%= form.text_field :ciudad, placeholder: "ciudad" %>
  <%= form.text_field :destinario, placeholder: "destinario" %>
  <%= form.submit %>
<% end %>