<p class="text-center , fs-1">editar proveedor</p>

<%= link_to 'listado proveedor', proveedores_path, class: 'btn btn-primary' %>
<%= link_to 'atras', proveedores_path, class: 'btn btn-primary' %>



  <%= form_for :proveedor do |f| %>
    <p>
      <%= f.label :codigo %><br>
      <%= f.text_field :codigo %>
    </p>

    <p>
      <%= f.label :nombre %><br>
      <%= f.text_area :nombre %>
    </p>

    <p>
      <%= f.label :correoelectronico %><br>
      <%= f.text_area :correoelectronico%>
    </p>

    <p>
      <%= f.label :telefono %><br>
      <%= f.text_area :telefono %>
    </p>

    <p>
      <%= f.label :direccion %><br>
      <%= f.text_area :direccion%>
    </p>

    <p>
      <%= f.label :ciudad %><br>
      <%= f.text_area :ciudad %>
    </p>

    <p>
      <%= f.label :destinario%><br>
      <%= f.text_area :destinario%>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>

  