<h1 class="page-header">Registro de proveedor</h1>
<div class="container">
    <div class="navbar-toggler">
        <%= simple_form_for @proveedor do |f| %>
            <%= f.input :codigo %>
            <%= f.input :nombre %>
            <%= f.input :correoelectronico %>
            <%= f.input :telefono %>
            <%= f.input :direccion %>
            <%= f.input :ciudad %>
            <%= f.input :destinario %>
            <%= f.button :submit %>
        <% end %>
    </div>
</div>



<div class="register-form mt-3 mb-3">
    <div class="container">
          <div class="row">
            
            <div class="col-md-6 bg-dark">
                <form action="#" class="p-4 text-white">
                  <div class="form-group">
                      <label for="Codigo"><i class="fa fa-check-square-o"></i> Codigo</label>
                      <input type="text" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="Nombre"><i class="fa fa-user"></i> Nombre</label>
                      <input type="Nombre" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="email"><i class="fa fa-envelope"></i> Correoelectronico</label>
                      <input type="email" class="form-control" id="email">
                  </div>
                  <div class="form-group">
                      <label for="Telefono"><i class="fa fa-tty"></i> Telefono</label>
                      <input type="Telefono" class="form-control" id="Telefono">
                  </div>
                  <div class="form-group">
                    <label for="Direccion"><i class="fa fa-home"></i> Direccion</label>
                    <input type="Direccion" class="form-control" id="Direccion">
                  </div>
                  <div class="form-group">
                    <label for="Ciudad"><i class="fa fa-map"></i> Ciudad</label>
                    <input type="Ciudad" class="form-control" id="Ciudad">
                  </div>
                  <div class="form-group">
                    <label for="Destinario"><i class="fa fa-map-pin"></i> Destinario</label>
                    <input type="Destinario" class="form-control" id="Destinario">
                  </div>
                  <div class="form-group form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Remember me
                      </label>
                  </div>
                  <button type="submit" class="btn btn-warning mb-3 mt-3 float-right">crear proveedor</button>
                </form>
            </div>
          </div>
      </div>
  </div>

  