<h1>show</h1>

<div>
    <%= @proveedor.codigo%>
    <%= @proveedor.nombre%>
    <%= @proveedor.correoelectronico%>
    <%= @proveedor.telefono%>
    <%= @proveedor.direccion%>
    <%= @proveedor.ciudad%>
    <%= @proveedor.destinario%>
</div>


