<h1>proveedor</h1>
<%= link_to 'listado proveedor', proveedores_path %>
<%= link_to 'Editar', edit_proveedor_path(@proveedor) %>
<%= link_to 'atras', proveedores_path %>

<table> 
    <tr>
    <td><%= @proveedor.codigo%></td>
    <td><%= @proveedor.nombre%></td>
    <td><%= @proveedor.correoelectronico%></td>
    <td><%= @proveedor.telefono%></td>
    <td><%= @proveedor.direccion%></td>
    <td><%= @proveedor.ciudad%></td>
    <td><%= @proveedor.destinario%></td>
    </tr>
</table>    
    
