<h1 class="text-center , fs-1">Listing tipo</h1>

<div>
<%= link_to 'Crear tipo', new_tipo_path, class: 'btn btn-primary' %>
</div>


<table class = "table table-bordered table-striped">
  <tr>
    <th>tipo</th>
    <th>estado</th>
    <th colspan="3">Accion</th>
  </tr>

  <% @tipo.each do |tipo| %>
    <tr>
      <td><%= tipo.tipo %></td>
      <td><%= tipo.estado %></td>
      <td><%= link_to 'Ver', tipo_path(tipo), class: 'btn btn-success' %></td>
      <td><%= link_to 'Editar', edit_tipo_path(@tipo), class: 'btn btn-primary' %></td>
      <td><%= link_to 'Elimirar', tipo_path(tipo),
      method: :delete, data: { confirm: 'Estas seguro?' }, :class => 'btn btn-danger' %></td>
    </tr>
  <% end %>
</table>
