
<div>
  <div class="login">
    <div class="row">
      <h1 class="text-align:center">Inicio Session</h1>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      autofocus: true,
                      input_html: { autocomplete: "email" }, class:"form-group" %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" }, class:"form-group" %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Iniciar session",class:"btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
      <%= render "devise/shared/links" %>
  </div>
</div>
