<div class="row">
  <div class="col-md-6">
    <%= simple_form_for @compra do |f| %>
      <%= f.input :codigo_producto %>
      <%= f.input :nombre_del_cliente %>
      <%= f.input :identificacion_del_cliente %>
      <%= f.input :fecha_de_compra %>
      <%= f.input :tipo_producto %>
      <%= f.input :forma_de_pago %>
      <%= f.button :submit , class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>