<h1 class="text-center , fs-1">Listing compras</h1>

<div>
<%= link_to 'New compras', new_compra_path, class: 'btn btn-primary' %>
</div>

<div>
  <table class = "table table-bordered table-striped">
    <tr>
      <th>codigo_producto</th>
      <th>nombre_del_cliente</th>
      <th>identificacion_del_cliente</th>
      <th>fecha_de_compra</th>
      <th>tipo_producto</th>
      <th>forma_de_pago</th>
      <th colspan="6"></th>
    </tr>
  
    <% @compra.each do |compra| %>
      <tr>
        <td><%= compra.codigo_producto %></td>
        <td><%= compra.nombre_del_cliente %></td>
        <td><%= compra.identificacion_del_cliente %></td>
        <td><%= compra.fecha_de_compra %></td>
        <td><%= compra.tipo_producto %></td>
        <td><%= compra.forma_de_pago %></td>
        <td><%= link_to 'Ver', compra_path(compra), class: 'btn btn-success' %></td>
        <td><%= link_to 'Editar', edit_compra_path(@compra), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', compra_path(compra),
        method: :delete, data: { confirm: 'Estas seguro?' }, :class => 'btn btn-danger'  %></td>
      </tr>
    <% end %>
  </table>
</div>