<h1 class="container">Registro de compras</h1>
<div class="container">
    <div class="row">
        <%= simple_form_for @compra do |f| %>
            <%= f.input :codigo_producto %>
            <%= f.input :nombre_del_cliente %>
            <%= f.input :identificacion_del_cliente %>
            <%= f.input :fecha_de_compra %>
            <%= f.input :tipo_producto %>
            <%= f.input :forma_de_pago %>
            <%= f.button :submit %>
        <% end %>
    </div>
</div>



