<h1>listado de compras</h1>
<table> 
    <tr>
    <td><%= @compra.codigo_producto%></td>
    <td><%= @compra.nombre_del_cliente%></td>
    <td><%= @compra.identificacion_del_cliente%></td>
    <td><%= @compra.fecha_de_compra%></td>
    <td><%= @compra.tipo_producto%></td>
    <td><%= @compra.forma_de_pago%></td>
    </tr>
</table>    