<div class="row">
  <div class="col-md-6">
    <%= simple_form_for @persona do |f| %>
      <%= f.input :cedula %>
      <%= f.input :fecha_nacimiento %>
      <%= f.input :telefono %>
      <%= f.association :genero, label_method: :genero %>
      <%= f.button :submit , class: 'btn btn-primary' %>
    <% end %>
  </div>
</div> 