<h2>listado</h2>
<%= link_to 'Back', personas_path %>
<table>
    <tr>
        <td><%= @persona.cedula%></td>
        <td><%= @persona.genero%></td>
        <td><%= @persona.fecha_nacimiento%></td>
        <td><%= @persona.telefono%></td>
    </tr> 
</table>