<p class="text-center , fs-1">Editar Personas</p>

<div class="container">
    <%= link_to 'Atras', personas_path, class: 'btn btn-primary' %>
</div>

<div class="container">
    <table class = "table table-bordered table-striped">
        <tr>
            <td><%= @persona.cedula%></td>
            <td><%= @persona.genero%></td>
            <td><%= @persona.fecha_nacimiento%></td>
            <td><%= @persona.telefono%></td>
        </tr> 
    </table>
</div>