<h1>Listing persona</h1>
<%= link_to 'New persona', new_persona_path %>
<table>
  <tr>
    <th>cedula</th>
    <th>genero</th>
    <th>fecha_nacimiento</th>
    <th>telefono</th>
    <th colspan="6"></th>
  </tr>
 
  <% @persona.each do |persona| %>
    <tr>
      <td><%= persona.cedula %></td>
      <td><%= persona.genero %></td>
      <td><%= persona.fecha_nacimiento %></td>
      <td><%= persona.telefono%></td>
      <td><%= link_to 'Show', persona_path(persona) %></td>
      <td><%= link_to 'Editar', edit_persona_path(persona) %></td>
      <td><%= link_to 'Destroy', persona_path(persona),
      method: :delete, data: { confirm: 'Estas seguro?' } %></td>
    </tr>
  <% end %>
</table>