<p class="text-center , fs-1">nuevo personas</p>
<div class="container">
    <div class="row">
        <%= simple_form_for @persona do |f| %>
            <%= f.input :cedula %>
            <%= f.input :genero %>
            <%= f.input :fecha_nacimiento %>
            <%= f.input :telefono %>
            <%= f.button :submit %>
        <% end %>
    </div>
</div> 

