<p id="notice"><%= notice %></p>

<p class="text-center , fs-1">personas</p>

<div class="container">
    <%= link_to 'Atras', personas_path, class: 'btn btn-primary' %>
    <%= link_to 'Editar', edit_persona_path(@persona), class: 'btn btn-primary' %>
</div>

<div class="container">
    <table class = "table table-bordered table-striped">

        <tr>
            <th>cedula</th>
            <th>genero</th>
            <th>fecha_nacimiento</th>
            <th>telefono</th>
        </tr>
        <tr>
            <td><%= @persona.cedula%></td>
            <td><%= @persona.genero%></td>
            <td><%= @persona.fecha_nacimiento%></td>
            <td><%= @persona.telefono%></td>
        </tr> 
    </table>
</div>
