<p id="notice"><%= notice %></p>

<p class="text-center , fs-1">personas</p>

<section class="row">
  <div class="container">
    <%= link_to 'Editar', edit_persona_path(@persona), class: 'btn btn-primary' %>
    <%= link_to 'Atras', personas_path, class: 'btn btn-primary' %>
  </div>
  <aside class="col-xs-6">
    <dl class="well well-sm , tab-content">
        <dt>cedula:</dt>
        <dd><%= @persona.cedula%></dd>
        <dt>genero:</dt>
        <dd><%= @persona.genero%></dd>
        <dt>fecha_nacimiento:</dt>
        <dd><%= @persona.fecha_nacimiento%></dd>
        <dt>telefono:</dt>
        <dd><%= @persona.telefono%></dd>
    </dl>
  </aside>
</section>