<p class="text-center , fs-1">nuevo productos</p>
<div class="center jumbotron">
    <div class="container">
        <%= simple_form_for @producto do |f| %>
            <%= f.input :codigo %>
            <%= f.input :nombre %>
            <%= f.input :referencia %>
            <%= f.input :stock %>
            <%= f.input :remitente %>
            <%= f.input :tipo %>
            <%= f.button :submit %>
        <% end %>
    </div>
</div>