<h1 class="text-center , fs-1">Ver Productos</h1>

<div>
  <%= link_to 'Atras', productos_path, class: 'btn btn-primary' %>
</div><br>

<section class="flex-row">
  <aside class="col-xs-6">
    <dl class="flex-nowrap , tab-content">
      <dt>codigo:</dt>
      <dd><%= @producto.codigo%></dd>
      <dt>nombre:</dt>
      <dd><%= @producto.nombre%></dd>
      <dt>referencia:</dt>
      <dd><%= @producto.referencia%></dd>
      <dt>stock:</dt>
      <dd><%= @producto.stock%></dd>
      <dt>remitente:</dt>
      <dd><%= @producto.remitente%></dd>
      <dt>tipo_id:</dt>
      <dd><%= @producto.tipo_id%></dd>
      <dt>foto:</dt>
      <dd><%= image_tag(@producto.foto_url) if @producto.foto? %></dd>
    </dl>
  </aside>
</section>