<h1>Productos#show</h1>

<%= @Productos.codigo%>
<%= @Productos.nombre%>
<%= @Productos.referencia%>
<%= @Productos.stock%>
<%= @Productos.remitente%>
<%= @Productos.tipo_id%>

<%= link_to 'New producto', new_producto_path %>