<p id="notice"><%= flash[:notice] %></p>

<p class="text-center , fs-1">Productos</p>

<div class="container">
    <%= link_to 'Editar', edit_Producto_path(@Producto), class: 'btn btn-primary' %>
    <%= link_to 'atras', Productos_path, class: 'btn btn-primary' %>
</div>

<div class="container">
    <table class = "table table-bordered table-striped"> 
        <tr>
            <th>codigo</th>
            <th>nombre</th>
            <th>referencia</th>
            <th>stock</th>
            <th>remitente</th>
            <th>tipo_id</th>
        </tr>
        
        <tr>
        <td><%= @Producto.codigo%></td>
        <td><%= @Producto.nombre%></td>
        <td><%= @Producto.referencia%></td>
        <td><%= @Producto.stock%></td>
        <td><%= @Producto.remitente%></td>
        <td><%= @Producto.tipo_id%></td>
        </tr>
    </table> 
</div>    