<div class="row">
    <div class="col-md-6">
        <%= simple_form_for @reclamo do |f| %>
            <%= f.input :codigo %>
            <%= f.input :identificacion_del_cliente %>
            <%= f.input :nombre_del_cliente %>
            <%= f.input :producto_adquirido %>
            <%= f.input :fecha_de_compra %>
            <%= f.input :estado_del_producto %>
            <%= f.button :submit , class: 'btn btn-primary'%>
        <% end %>
    </div>
</div>