<div class="list-group">
  <a href="#" class="list-group-item active">
    Modulos
  </a>
    <a href="#">
      <%= link_to "tipos", tipos_path, class: "list-group-item" %>
    </a>
    <a href="#"> 
      <%= link_to "generos", generos_path, class: "list-group-item" %>
    </a>
    <a href="#">
      <%= link_to "Compras", compras_path, class: "list-group-item" %>
    </a>
    <a href="#"> 
    <%= link_to "Reclamos", reclamos_path, class: "list-group-item" %>
    </a>
    <a href="#">
      <%= link_to "Usuarios", usuarios_path, class: "list-group-item" %>
    </a>
    <a href="#">
      <%= link_to "Personas", personas_path, class: "list-group-item" %>
    </a>
    <a href="#">
      <%= link_to "Productos", productos_path, class: "list-group-item" %>
    </a>
    <a href="#">
      <%= link_to "Proveedores", proveedores_path, class: "list-group-item" %>
    </a>
    <a href="#">
      <%= link_to "organizaciones", organizaciones_path, class: "list-group-item" %>
    </a>
    <a href="#">
      <%= link_to "stoockdeproductos", stoockdeproductos_path, class: "list-group-item" %>
    </a>
    <a href="#">
      <%= link_to "registrodetrabajadores", registrodetrabajadores_path, class: "list-group-item" %>
    </a>
</div>

